<!DOCTYPE html>
<html lang="en">
<head>
   
    <%- include('include/meta-data') %>
    <link rel="stylesheet" href="/Styles/500.css">
    <title>500</title>
</head>
<body>
    
    <%- include('include/navigation-pane') %>

    <h1 id="main-content">Something went wrong!</h1>
   
    <p>Unfortunately something went on the server - we're doing our best to fix it as quick as posible!</p>

</body>
</html>